<h2 class="alumnititle">
    Hogwarts Alumni
</h2>

<div id="charactersByHouse">

    <!-- // ---------------------------- GRYFFINDOR -->
    <div id="charactersGryffindor">
        <h2>House Gryffindor</h2>
            <% characters.forEach(character =>  { 
                    if (character.house == "Gryffindor") { %>
                            <div>
                                <h3><%= character.name %></h3>

                                <% if (character.image) { %>
                                    <img src="<%= character.image %>" alt="character image"> 
                                    
                                <% } %>

                                <a class= "details" href="/profile/house-characters/<%= character.id %>">See details of <%= character.name %></a>
                            </div>
                    <% }   
            }) %>
    </div>

    <!-- // ---------------------------- RAVENCLAW -->
    <div id="charactersRavenclaw">
        <h2>House Ravenclaw</h2>
        <% characters.forEach(character =>  { 
                if (character.house == "Ravenclaw") {%>
                        <div>
                            <h3><%= character.name %></h3>
                            <% if (character.image) { %>
                                <img src="<%= character.image %>" alt="character image"> 
                                <% 
                            }  %>

                            <a class= "details" href="/profile/house-characters/<%= character.id %>">See details of <%= character.name %></a>
                        </div>
                    <% }   
        }) %>
    </div>

    <!-- // ---------------------------- HUFFLEPUFF -->
    <div id="charactersHufflepuff">
        <h2>House Hufflepuff</h2>
        <% characters.forEach(character =>  { 
                if (character.house == "Hufflepuff") {
                    %>
                        <div>
                            <h3><%= character.name %></h3>
                            <% if (character.image) { %>
                                <img src="<%= character.image %>" alt="character image"> 
                                <% 
                            }  %>

                            <a class= "details" href="/profile/house-characters/<%= character.id %>">See details of <%= character.name %></a>
                        </div>
                    <% }   
        }) %>

    </div>

        <!-- // ---------------------------- SLYTHERIN -->
    <div id="charactersSlytherin">
        <h2>House Slytherin</h2>
        <% characters.forEach(character =>  { 
                if (character.house == "Slytherin") {
                    %>
                        <div>
                            <h3><%= character.name %></h3>
                            <% if (character.image) { %>
                                <img src="<%= character.image %>" alt="character image"> 
                                <% 
                            }  %>

                            <a class= "details" href="/profile/house-characters/<%= character.id %>">See details of <%= character.name %></a>
                        </div>
                    <% }   
        }) %>
    </div>
</div>



<!-- // Music code -->
<embed  src="../audio/double_trouble.mp3" 
loop=2
autostart="true" 
height="0">